<p>Foodkit is changing the way the restaurant industry operates in a rapidly evolving digital world. Foodkit technology powers some of Asia’s most recognised and dynamic restaurant brands with its full stack suite of solutions, including:</p>

<ul>
<li>Digital ordering (apps, web, kiosk and chatbots)</li>
<li>Order management systems </li>
<li>Marketing and loyalty systems</li>
<li>Logistics (delivery) optimisation</li>
<li>Payments </li>
<li>Customer service systems</li>
<li>Open API</li>
</ul>

<p>We're 100% remote and proud of it. You can pick where and when you work, as long as you stay productive and we have some overlapping hours to do standups.</p>

<p>We're looking for a "smart and gets shit done" kind of person, so real world experience and the right attitude trumps formal accreditation.</p>
