---
title: Welcome to Middleman
---
<div class="home">
  <img src="https://res.cloudinary.com/ginja-co-ltd/image/upload/v1533620284/foodkit/foodkit-logo-vector.svg" class="foodkit-logo" />

  <p>Oops! You're probably looking for one of these:</p>

  <ul class="no-bullets">
    <li>
      <%= link_to(
        "Frontend Engineer",
        url_for("/frontend-engineer.html")
      ) %>
    </li>

    <li>
      <%= link_to(
        "API Engineer",
        url_for("/api-engineer.html")
      ) %>
    </li>
  </ul>
</div>
